* {
  box-sizing: border-box;
}

body {
  background-color: #dcdcdc;
  color: snow;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Avenir', sans-serif;
}

.top {
  height: 170px;
  padding: 10px;
  background-color: steelblue;
}

h1 {
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2rem;
  margin: 0;
}

#color {
  font-size: 2.5rem;
  display: block;
  color: black;
  text-transform: lowercase;
}

#feedback {
  display: inline-block;
  width: 15%;
  color: black;
  font-weight: 600;
}

section {
  background-color: snow;
  height: 40px;
  text-align: center;
  font-size: 1.3rem;
  color: snow;
  letter-spacing: 0.11rem;
}

button {
  font-family: 'Montserrat', 'Avenir', sans-serif;
  border: none;
  background: none;
  font-size: inherit;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  color: steelblue;
  padding: 5px;
  margin: 0;
  height: 100%;
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  transition: all 0.9s;
  outline: none;
}

.mode:hover {
  background-color: steelblue;
  color: snow;
}

button:focus {
  text-decoration: underline;
}

.square:focus {
  border: 1px solid black;
}

.square {
  width: 29%;
  padding-bottom: 29%;
  float: left;
  margin: 1.66%;
  border: 1px solid transparent;
  border-radius: 15%;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  transition: background 0.5s;
}

.container {
  max-width: 600px;
  margin: 20px auto;
}

.selected {
  background-color: steelblue;
  color: snow;
}

@media screen and (max-width: 400px) {
  .mode,
  #feedback {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  section {
    height: auto;
  }

  button {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 1.1rem;
  }

  #color {
    font-size: 1.5rem;
  }

  .top {
    height: auto;
  }

  .square {
    width: 30%;
    margin: 1.5%;
    padding-bottom: 25%;
  }
}
